
mote.exe
mote
.vscode/
*.swp
*.obj
*.exe
*.ll
*.o
mote_out.txt
mote_err.txt
test/artifacts/
test/game/notgate/*.ll
test/game/notgate/*.exe
test/game/notgate/*.obj
*.out
*.dSYM/
mote_test
TODO.local.std.md
tmp_repro_*/
