
mote
.vscode/
*.swp
*.obj
*.exe
*.ll
*.mir.txt
*.dbg.log
*.o
mote_out.txt
mote_err.txt
test/artifacts/
test/game/notgate/*.ll
test/game/notgate/*.exe
test/game/notgate/*.obj
*.out
*.dSYM/
mote_test
TODO.local.std.md
tmp_repro_*/
process_run_exe*
libmote_core.a
mote_core.dll
mote_core.lib
libmote_core.so
libmote_core.dylib
